html, body {
  max-width: 100%;
  @media (max-width: $screen-xs) {
    overflow-x: hidden !important;
  }
  @media (max-width: $screen-md) {
    overflow-x: hidden !important;
  }
  @media (max-width: $screen-lg) {
    overflow-x: hidden !important;
  }
  @media (max-width: $screen-lg-desktop) {
    overflow-x: hidden !important;
  }
}