<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-8">
                {% if page.branding %}
                    {{ page.branding }}
                {% endif %}
            </div>
            <div class="col-xs-6 .col-lg-4">
                {% if page.navigation %}
                    {{ page.navigation }}
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% if page.header %}
    {{ page.header }}
{% endif %}
<div class="row">
    <div class="col-xs-6 col-sm-4">
        {% if page.sidebar_left %}
            {{ page.sidebar_left }}
        {% endif %}
    </div>
    <div class="col-xs-6 col-sm-4">
        {% if page.highlighted %}
            {{ page.highlighted }}
        {% endif %}
        {% if page.content %}
            {{ page.content }}
        {% endif %}
    </div>
    <div class="col-xs-6 col-sm-4">
        {% if page.sidebar_left %}
            {{ page.sidebar_left }}
        {% endif %}</div>
</div>
<footer>
    <div class="row">
        <div class="col-xs-6 col-sm-4">{% if page.page_footer_left %}{{ page.page_footer_left }}{% endif %}</div>
        <div class="col-xs-6 col-sm-4">{% if page.page_footer_middle %}{{ page.page_footer_middle }}{% endif %}</div>
        <div class="col-xs-6 col-sm-4">{% if page.page_footer_right %}{{ page.page_footer_right }}{% endif %}</div>
    </div>
    <div class="">{% if page.page_footer_bottom %}{{ page.page_footer_bottom }}{% endif %}</div>
</footer>
